{% extends 'base.html.twig' %}

{% block body %}
<h2 class="title_list">{{liste.title}}</h2>

<a class="button" href="{{ path('liste_edit', { 'id': liste.id }) }}" ><button type="button" class="btn btn-info">Éditer </button></a>
</br>
<hr>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<ul class="list-group mb-3">
    <!-- On utilise la syntaxe for avec (key, value) afin de récupérer le vrai index du tableau tasks -->
    {% for task in liste.tasks %}
    <li class="list-group-item">
        <!-- Task undone -->
        {% if task.status == 'undone' %}
        <a href="{{ path('task_set_status', { 'id': task.id, 'status': 'done' }) }}"><i class="fa fa-square-o" aria-hidden="true"></i></a>
        {% else %}
        <!-- Task done -->
        <a href="{{ path('task_set_status', { 'id': task.id, 'status': 'undone' }) }}"><i class="fa fa-check-square-o" aria-hidden="true"></i></a>
        {% endif %}
        <!-- Title -->
        <a href="{{ path('task_show', { 'id': task.id }) }}" class="{% if task.status == 'done' %}done{% endif %}">{{ task.content }}</a>

        <!-- Delete : on utilise un form + méthode POST pour plus de sécurité et de bonne pratique -->
        <form action="{{ path('task_delete') }}" method="post" class="form_delete">
            <input type="hidden" name="id" value="{{ task.id }}">
            <button class="btn btn-link btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </form>

        <a href="{{ path('task_edit', { 'id': task.id }) }}" class="form_delete"><button class="btn btn-link btn-sm"><i class="fa fa-pencil"></i></button></a>
		</li>
    {% endfor %}
	</ul>


</article>


<div class="Formulaire">
	<h2>	Poster une tâche 	</h2>




	 {{ form_start(form) }}


		<p class="width">{{ form_row(form.content) }}</p>
		<p class="margin">{{ form_row(form.status) }}</p>
	    <input class="btn btn-success" type="submit" value="Create" />

    {{ form_end(form) }}
</div>
<p class="form-margin"></p>
<a class="bttn_return" href="{{ path('liste_index') }}"><button type="button" class="btn btn-info">Back to the list</button></a>
<br>
<hr>
{% endblock %}
