{% extends 'base.html.twig' %}

{% block body %}


<div class="form-user-edit">
	<h1 class="form-title">Edition d'une tâche</h1>
	<div class="form-text">


{{ form_start(form) }}
   {{ form_row(form.content) }}<p class="form-margin"></p>
   {{ form_widget(form.status) }}<p class="form-margin"></p>
   <input class="login" type="submit" value="Éditer" />

{{ form_end(form) }}

</div></div>
<p class="form-margin"></p>
<a href="{{ path('liste_index') }}" class="btn btn-info">Back to the list</a>



{% endblock %}
