{% extends 'base.html.twig' %}

{% block body %}
<div class="form-user-edit">
    <h1 class="form-title">Liste edit</h1>
	<div class="form-text">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}<p class="form-margin"></p>
        <input class="btn btn-info" type="submit" value="Edit" /><p class="form-margin"></p>
    {{ form_end(edit_form) }}
	{{ form_start(delete_form) }}
	    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Supprimer ?')">
	{{ form_end(delete_form) }}
</div>
</div>
<p class="form-margin"></p>
<a class="btn btn-success" href="{{ path('liste_index') }}">Back to the list</a>


{% endblock %}
