{% extends 'base.html.twig' %}

{% block body %}



		{% for liste in listes %}

		<h2 class="title_list"><a href="{{ path('liste_show', { 'id': liste.id }) }}"> {{liste.title}}</a></h2>

		<a class="button" href="{{ path('liste_edit', { 'id': liste.id }) }}" ><button type="button" class="btn btn-info">Éditer </button></a>
		<a class="button" href="{{ path('liste_show', { 'id': liste.id }) }}"><button type="button" class="btn btn-success">View</button></a>

		<p class="margin-boucle"></p>
		<hr>
		{% endfor %}
		<p class="form-margin-btn"></p>




	<h2>Créer une nouvelle ToDolist</h2>
		{{ form_start(form) }}
			{{ form_widget(form) }}<p class="form-margin"></p>
			<input class="btn btn-info" type="submit" value="Create" />



{% endblock %}
