{% extends 'base.html.twig' %}

{% block body %}

		{% for liste in listes %}

            <a class="link-article" href="{{ path('liste_show', { 'id': liste.id }) }}">
				<hr class="separate">
					<a class="buttn_edit" href="{{ path('liste_edit', { 'id': liste.id }) }}" class="btn btn-info btn-xs">Editer</a>

					<div class="buttn_bug"></div>



				<main class="block">
					<h2 class="blog-title">	{{ liste.title }}</h2>
					<a class="buttn_view" href="{{ path('liste_show', { 'id': liste.id }) }}">View</a>


				</main>

			</a>
		{% endfor %}

		{{ form_start(form) }}
			{{ form_widget(form) }}
			<input class="login" type="submit" value="Create" />



{% endblock %}
